# Node modules
node_modules/

# WordPress build outputs
build/
*.asset.php

# Logs and system files
npm-debug.log
.DS_Store
.env

# Docker artifacts (if needed)
*.pid
*.sock

# Extra
db_data/
*.log
*.zip