# Node modules
node_modules/
*.log

# WordPress build outputs
build/
*.asset.php

# Logs and system files
npm-debug.log
.DS_Store
.env
.env.local
.env.*.local

# Docker artifacts (if needed)
*.pid
*.sock

# Extra
db_data/
*.log
*.zip

# Composer
vendor/

# OS & Editor files
*.swp

# WordPress
wp-config.php
wp-content/debug.log